html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  img {
    display: block; /* Removes the bottom space */
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    object-fit: cover; /* Ensures the image covers the area without distortion */
  }
  