<header>
  <nav>
    <div class="nav-left">
      <a routerLink="/">Home</a>
      <a routerLink="/search">Books</a>
      <a routerLink="/addbooks">AddBooks</a>
    </div>
    <div class="nav-right">
      <a mat-raised-button color="primary" href="/login-page">Login</a>
      <a mat-raised-button color="accent" href="/home/register-page">Sign Up</a>
      <!-- <a routerLink="/login">Login</a>
      <a routerLink="/signup">Signup</a> -->
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
