<!-- <div class="mainclass">
  <mat-form-field>
    <input
      matInput
      placeholder="Search Books"
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
    />
  </mat-form-field> -->
<!-- </div> -->
<form [formGroup]="searchForm" class="search-form">
  <input
    placeholder="Search for books..."
    formControlName="search"
    class="search-input"
  />
</form>

<div class="all-books-container">
  @for(books of filteredBooks; track $index) {
  <app-allbooks
    [everybook]="books"
    (delete_the_book)="deletebookP($event)"
    [id]="books.id"
  />
  }
</div>
