<!-- <div class="main">
  <h1>Welcome to Books club!</h1>
  <h4>
    This app is designed to help you keep track of all the books you've read,
    are currently reading, and plan to read in the future.
  </h4>
  <h4>
    Whether you're a casual reader or a dedicated bibliophile, "My Book Club"
    offers an intuitive and seamless experience to manage your literary journey.
  </h4>
  <button mat-raised-button color="primary" (click)="startread()">
    Start Reading
  </button>
</div> -->

<div class="app-container">
  <header class="app-header">
    <h1>Welcome to My Book Club!</h1>
    <p class="subtitle">
      Keep track of all the books you've read, are currently reading, and plan
      to read in the future.
    </p>
    <p class="description">
      Whether you're a casual reader or a dedicated bibliophile, "My Book Club"
      offers an intuitive and seamless experience to manage your literary
      journey.
    </p>
    <!-- <button class="start-button" onclick="startread()">Start Reading</button> -->
    <button class="start-button" color="primary" (click)="startread()">
      Start Reading
    </button>
  </header>
</div>
